body {
    margin : 0;
    padding: 0;
}

.container {
    width          : 80%;
    margin         : 70px auto 20px;
    display        : flex;
    flex-wrap      : wrap;
    justify-content: space-between;
}

.home__light {
    background-color: #f2f2f2;
}

.home__dark {
    background-color: #212121;
}